.fa-twitter:hover {
  color: #00aef3;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-github:hover {
  color: #4183c4;
}

.fa-linkedin:hover {
  color: #0077b5;
}

.fa-instagram:hover {
  color: #3f729b;
}

.fa-list:hover {
  color: #0f58a8;
}