$bg-color: #eee;
$bg-image: url("http://chrisyarie.com/images/home_sky.jpg");
$bg-image-mobile: url("http://chrisyarie.com/images/home_sky_mobile.jpg");
$f-color: white;
$f-stack: 'Oxygen', sans-serif;

/** Resume **/
$res-bg-color: black;